<h1 class="text-center">My Movie Lists</h1>

<div class="banner">
  <div class="container">
  </div>
</div>

<% @lists.each do |list| %>

<div class="grid">
  <div class="d-flex flex-lg-row justify-content-center align-items-center">
    <div class="card">
      <%= link_to list.name, list_path(list) %>
      <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
    <% end %>
  </div>
  <div class="row m-auto">
    <p><%= link_to "Create a new list", new_list_path %></p>
  </div>
</div>
